/* colors must be added as rgb and not hex */
.main-theme {
  /* civic dark */
  --color-primary: 47, 13, 48;
  --color-primary-text: 255, 255, 255;
  --color-primary-border: 255, 107, 78;
  /* civic orange */
  --color-secondary: 255, 107, 78;
  --color-secondary-text: 255, 107, 78;
  --color-secondary-border: 47, 13, 48;
  /* civic nude */
  --color-tertiary: 255, 168, 119;
  --color-tertiary-text: 47, 13, 48;
  --color-tertiary-border: 47, 13, 48;
  /* civic yellow */
  --color-quaternary: 255, 245, 118;
  --color-quaternary-text: 255, 96, 65;
  --color-quaternary-border: 47, 13, 48;

  --color-base: 255, 255, 255;
  --color-base-text: 0, 0, 0;
  --color-base-border: 0, 0, 0;

  --color-success: 86, 154, 255;
  --color-success-text: 0, 0, 0;
  --color-success-border: 0, 0, 0;

  --color-info: 241, 196, 15;
  --color-info-text: 0, 0, 0;
  --confor-info-border: 0, 0, 0;

  --color-error: 255, 0, 0;
  --color-error-text: 255, 255, 255;
  --color-error-border: 0, 0, 0;

  --color-warning: 255, 0, 0;
  --color-warning-text: 255, 255, 255;
  --color-warning-border: 0, 0, 0;
  
  --color-inactive: 209, 213, 219;
  --color-inactive-text: 153, 153, 153;
  --color-inactive-border: 0, 0, 0;

  --color-delete: 255, 0, 0;
  --color-delete-text: 255, 255, 255;
  --color-delete-border: 0, 0, 0;

  --color-light-text: 153, 153, 153;
  --color-link-text: 241, 92, 62;
  --color-active-text: 117, 117, 117;

  --color-text: 47, 13, 48;
  --color-background: 255, 255, 255;
  --color-background-hover: 240, 245, 246;
  --color-pageBackground: 251, 249, 251;

  --color-selected-menu: 209, 213, 219;

  --font-family-sans: "Aventa";
}

.main-theme {
  font-family: Aventa;
  color: rgb(var(--color-primary));
}

.main-theme h1 {
  font-family: Monument Extended;
  font-size: 77px;
  line-height: 66px;
  font-weight: 800;
}

.main-theme h2 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
}

.main-theme h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
}

.main-theme h4 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}

.main-theme h4.dialog-title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.main-theme p.dialog-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.main-theme p.dialog-body-small {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}


.main-theme h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.main-theme p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at https://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2022 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Ellen Luff
 * License URL: https://www.fontspring.com/licenses/ellen-luff/webfont
 *
 *
 */

@font-face {
  font-family: "Aventa";
  src: url("/src/assets/fonts/aventa-regular-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/aventa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("/src/assets/fonts/aventa-bold-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/aventa-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("/src/assets/fonts/aventa-semibold-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/aventa-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aventa";
  src: url("/src/assets/fonts/aventa-itallic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/aventa-itallic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/src/assets/fonts/PPMonumentExtended-Heavy.woff2") format("woff2"),
    url("/src/assets/fonts/PPMonumentExtended-Heavy.woff") format("woff"),
    url("/src/assets/fonts/PPMonumentExtended-Heavy.otf") format("otf"),
    url("/src/assets/fonts/PPMonumentExtended-Heavy.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/src/assets/fonts/PPMonumentExtended-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/PPMonumentExtended-Medium.woff") format("woff"),
    url("/src/assets/fonts/PPMonumentExtended-Medium.otf") format("otf"),
    url("/src/assets/fonts/PPMonumentExtended-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
